<li class="list-group-item clearfix">
	<input type="checkbox" class="pull-left"/>
	<img class="pull-left" src="{{this.portrait}}" alt=""/>
	<div class="pull-left">
		<h4 class="contact-name text-primary">{{this.name}}</h4>
		<p class="contact-phone text-muted">{{this.phone}}</p>
	</div>
    <span class="deleteCurrentContact pull-right glyphicon glyphicon-trash"></span>
    <span class="editCurrentContact pull-right glyphicon glyphicon-edit"></span>
</li>